<div class="container">
    <div class="row text-center">
        <h2>Mis Trabajos con Android</h2>
    </div>
    <div class="row text-center">
        <div class="col-lg-6 col-md-12 col-xs-12">
            <div class="titulo">
                <h3>Enjoya</h3>
            </div>
            <div class="icons" align="left">
                <a class="icon-link" href="https://angular.io/" target="_blank">
                    <img src="assets/img/svg/angularicon.svg" alt="angular" height="30" width="30" />
                </a>
                <a class="icon-link" href="https://dotnet.microsoft.com/" target="_blank">
                    <img src="assets/img/svg/netcore.svg" alt="netcore" height="30" width="30" />
                </a>
                <a class="icon-link" href="https://getbootstrap.com/" target="_blank">
                    <img src="assets/img/svg/boostrap.svg" alt="boostrap" height="30" width="30" />
                </a>
                <a class="icon-link" href="https://github.com/jaimeyzv/joyeria_web_angular" target="_blank">
                    <img src="assets/img/svg/github.svg" alt="github Client" height="30" width="30" />
                </a>
                <a class="icon-link" href="https://github.com/jaimeyzv/joyeria_backend_netcore" target="_blank">
                    <img src="assets/img/svg/github.svg" alt="github Admin" height="30" width="30" />
                </a>
            </div>
            <div class="Descripcion">
                <p align="left">
                    Realizar un proyecto a aplicación web sobre carrito de compra utilizando Angular, typescript y
                    nodejs.
                </p>
            </div>

        </div>
        <div class="col-lg-6 col-md-12 col-xs-12">

            <div class="imagen">
                Imagen

            </div>

        </div>
    </div>

</div>