/*navbar*/
nav.navbar.navbar-expand-lg.bg-body-tertiary.sticky-top {
    box-shadow: -1px -1px 10px;
}
.nav-item{
  font-size:1.5em;
}
.dropdown-item{
  font-size:1.5em;
}
/*********************************/
