<div class="container">
  <div class="card text-bg-dark  port-title">
    <img src="assets/img/android/android-portada.jpg" class="card-img portada" alt="...">
    <div class="card-img-overlay row align-items-center  ">
      <div class="col titulo-portada">
        <h1 class="tw card-title"></h1>

      </div>


    </div>
  </div>

  <div class="row text-center project">
    <div class="col-lg-6 col-md-12 col-xs-12">
      <div class="titulo">
        <h3>Scan Market</h3>
      </div>
      <div class="icons" align="left">
        <a class="icon-link" href="https://firebase.google.com/?hl=es" target="_blank">
          <img src="assets/img/svg/firebase.svg" alt="firebase" height="30" width="30" />
        </a>
        <a class="icon-link" href="https://www.tensorflow.org/" target="_blank">
          <img src="assets/img/svg/tensorflow.svg" alt="tensorflow" height="30" width="30" />
        </a>
        <a class="icon-link" href="https://github.com/alreyesh/ScanMarketClient" target="_blank">
          <img src="assets/img/svg/github.svg" alt="github Client" height="30" width="30" />
        </a>
        <a class="icon-link" href="https://github.com/alreyesh/ScanMarketAdmin" target="_blank">
          <img src="assets/img/svg/github.svg" alt="github Admin" height="30" width="30" />
        </a>
      </div>
      <div class="Descripcion">
        <p align="left">
          Proyecto de tesis sobre reconocimiento de imágenes para productos en el sector retail
          utilizando inteligencia artificial
          y un aplicativo móvil de android con base de datos en Firebase.
        </p>
      </div>

    </div>
    <div class="col-lg-6 col-md-12 col-xs-12">

      <div class="imagen">
        <div class="embed-responsive embed-responsive-16by9">

          <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/5YXSb2DMJmU"
            title="YouTube video player" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen></iframe>
        </div>

      </div>

    </div>
  </div>

</div>
