.card{
  text-align: -webkit-center;

}
.card.text-bg-dark {
    margin-bottom: 20px;
}
.container.text-center {
    margin-bottom: 10px;
    padding-left: 0px;
    padding-right: 0px;
}
.title-name{
    text-overflow: ellipsis;
    text-align: center;
    font-size:2vw;
}
@media (min-width: 1025px) {
.portada{
  height:300px ;
margin-left: 10px;
  margin-right: 10px;
}
.col-xs-12.col-lg-4.card1{
 text-align: -webkit-center;
}

.col-xs-12.col-lg-4.card2{
 text-align: -webkit-center;
}
  /* CSS */

}
@media (min-width: 768px) and (max-width:1024px) {
.portada{
  height:200px ;
  margin-left: 10px;
  margin-right: 10px;
}
 .col-xs-12.card1{
    margin-bottom: 10px;
    text-align: -webkit-center;

  }
   .col-xs-12.card2{
    margin-bottom: 10px;
    text-align: -webkit-center;
  }
  .card-text{
   text-overflow: ellipsis;
  }


}
@media   (max-width: 767px) {

  /* CSS */
  .col-xs-12.card1{
    margin-bottom: 10px;
     text-align: -webkit-center;

  }
   .col-xs-12.card2{
    margin-bottom: 10px;
     text-align: -webkit-center;

  }
  .card-text{
   text-overflow: ellipsis;
  }

}

