.cards{
  text-align: -webkit-center;

}
.title-name{
    text-overflow: ellipsis;
    text-align: center;
    font-size:2vw;
}
@media (min-width: 1025px) {

  /* CSS */

}

@media   (max-width: 767px) {

  /* CSS */
  .col.card1{
    margin-bottom: 10px;
  }
  .card-text{
   text-overflow: ellipsis;
  }
}

