<div class="container text-center">

  <div class="card text-bg-dark">
    <img src="assets/img/home/portada.jpeg" class="card-img portada" alt="...">
    <div class="card-img-overlay ">
      <h1 class="port card-title">Hola soy Alfonso,</h1>
      <h5 class="port tw card-text"></h5>
      <p class="card-text"><small> </small></p>
    </div>
  </div>
  <div class=" iam row justify-content-evenly">
    <div class="col-xs-12 col-lg-12 ">
      <h1>Quien soy</h1>
      <p style="text-align:left">Bachiller de la carrera de Ingeniería de Sistemas en la universidad UPC-EPE e
        especialista
        Técnico
        en la carrera
        de
        Computación e informática en CIBERTEC, con capacidad de trabajar en equipo, de liderazgo transformacional,
        persigo mis
        objetivos, analítico, responsable y con adaptabilidad al cambio.
      </p>
    </div>
    <div class="col-xs-12 col-lg-6 ">


    </div>

  </div>
  <div class=" skills row justify-content-center">
    <div class="row justify-content-evenly">
      <h3>Mi Skills</h3>
    </div>
    <div class="acordions row justify-content-center">
      <div class="accordion accordion-flush" id="accordionFlushExample">

        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
              <div class="skill  row justify-content-start">
                <h3 class="progress-title">Android - Java</h3>
                <div class="progress green">
                  <div class="progress-bar progress-bar-danger progress-bar-striped bg-success active"
                    style="width:70%;">
                    <div class="progress-value">70%</div>
                  </div>
                </div>
              </div>
            </button>
          </h2>
          <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
              <span class="badge text-bg-secondary">
                ListView
              </span>

              <span class="badge text-bg-secondary">
                ViewHolder
              </span>
              <span class="badge text-bg-secondary">
                GridView
              </span>
              <span class="badge text-bg-secondary">
                RecyclerView
              </span>
              <span class="badge text-bg-secondary">
                Realm
              </span>
              <span class="badge text-bg-secondary">
                Shared Preference
              </span>
              <span class="badge text-bg-secondary">
                SplashScreen
              </span>
              <span class="badge text-bg-secondary">
                Fragments layout
              </span>
              <span class="badge text-bg-secondary">
                Toolbar
              </span>
              <span class="badge text-bg-secondary">
                Tabs
              </span>
              <span class="badge text-bg-secondary">
                Navigation Drawer
              </span>
              <span class="badge text-bg-secondary">
                Picasso
              </span>
              <span class="badge text-bg-secondary">
                Constraint layout
              </span>
              <span class="badge text-bg-secondary">
                JsonObject
              </span>
              <span class="badge text-bg-secondary">
                Gson
              </span>
              <span class="badge text-bg-secondary">
                Notification Handler
              </span>
            </div>
          </div>
          <div class=" accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                <div class="skill  row justify-content-start">
                  <h3 class="progress-title">Angular Cli</h3>
                  <div class="progress red">
                    <div class="progress-bar progress-bar-danger progress-bar-striped bg-danger active"
                      style="width:55%;">
                      <div class="progress-value">55%</div>
                    </div>
                  </div>
                </div>
              </button>
            </h2>
            <div id="flush-collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
              <div class="accordion-body">aaaaa
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                Accordion Item #3
              </button>
            </h2>
            <div id="flush-collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
              <div class="accordion-body"> aaa
              </div>
            </div>
          </div>
        </div>





      </div>
    </div>


  </div>
  <div class=" cards row justify-content-evenly">
    <div class="col-xs-12 col-lg-4 card1">
      <div class="card" style="width: 18rem;">
        <img src="assets/img/android/android.jpg" class="card-img-top" alt="android" width="200" height="150">
        <div class="card-body ">
          <h5 class="card-title">Android</h5>
          <p class="card-text">Apps para Android</p>
          <a class="btn btn-primary" routerLink="/android">Leer más..</a>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-lg-4 card2 ">
      <div class="card" style="width: 18rem;">
        <img src="assets/img/web/angular.jpg" class="card-img-top" alt="..." width="200" height="150">
        <div class="card-body">
          <h5 class="card-title">Web</h5>
          <p class="card-text">Aplicaciones Web</p>
          <a class="btn btn-primary" routerLink="/web">Leer más..</a>
        </div>
      </div>
    </div>
  </div>