<div class="card text-bg-dark">
  <img src="assets/img/home/portada.jpeg" class="card-img portada" alt="...">
  <div class="card-img-overlay">
    <h1 class="card-title" style="text-align:left ">Bienvenido soy Alfonso,</h1>
    <h5 class="card-text" style="text-align:left ">Este es mi espacio para mostrar un poco de lo que hago y
      quien
      soy ...</h5>
    <p class="card-text"><small> </small></p>
  </div>
</div>

<div class="container text-center">


  <div class="row justify-content-evenly">
    <div class="col-xs-12 col-lg-4 card1">
      <div class="card" style="width: 18rem;">
        <img src="assets/img/android/android.jpg" class="card-img-top" alt="android" width="200" height="150">
        <div class="card-body ">
          <h5 class="card-title">Android</h5>
          <p class="card-text">Proyectos creados para Android</p>
          <a href="#" class="btn btn-primary">Leer más..</a>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-lg-4 card2 ">
      <div class="card" style="width: 18rem;">
        <img src="assets/img/web/angular.jpg" class="card-img-top" alt="..." width="200" height="150">
        <div class="card-body">
          <h5 class="card-title">Web</h5>
          <p class="card-text">Proyectos web creados con Angular</p>
          <a href="#" class="btn btn-primary">Leer más..</a>
        </div>
      </div>
    </div>
  </div>

</div>