/* You can add global styles to this file, and also import other style files */

.sss{
  color:#226675
}
.aa{
  color:#91E4F7
}

.bb{
  color: #47D5F5
}
.cc{
  color: #6A7C80
}
.bb{
  color: #39A8C2
}


